.footer {
    background-color: #004e75;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: inherit;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .footer a:hover {
    color: #f39c12;
  }
  
  .content {
    padding: 500px 50px;
    text-align: center;
  }
  