
.containerPersonal {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    margin-bottom: 10px;
}

.profileInfo {
    background-color: #f3e5f5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.profileInfo p {
    font-size: 1.1em;
    margin: 5px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a0f9c;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: 10px 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #46278f;
    transform: scale(1.05);
}

body {
    
    margin: 0;
    padding: 0;
}